{% extends 'performer/base.html' %}
{% load static %}

{% block body_block %}
<!-- Spacer -->
<div class="margin-top-90"></div>
<!-- Spacer / End-->

<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-4">
			<div class="sidebar-container">

				<!-- Location -->
				<div class="sidebar-widget">
					<h3>Город</h3>
					<div class="input-with-icon">
						<div id="autocomplete-container">
							<input id="autocomplete-input" type="text" placeholder="Город">
						</div>
						<i class="icon-material-outline-location-on"></i>
					</div>
				</div>

			


				<!--  -->
				<div class="sidebar-widget">
					<h3>Оплата</h3>
					<div class="margin-top-55"></div>

					<!-- Range Slider -->
					<input class="range-slider" type="text" value="" data-slider-currency="" data-slider-min="50" data-slider-max="5000" data-slider-step="5" data-slider-value="[50,5000]"/>
				</div>

				<!-- Tags -->
				<div class="sidebar-widget">
					<h3>Категории</h3>
					{%for category in categories%}
					<div class="tags-container">
						<div class="tag">
							<input type="checkbox" id="tag{{category.id}}"/>
							<label for="tag{{category.id}}">{{category.name}}</label>
						</div>
					</div>
					{%endfor%}
					<div class="clearfix"></div>

					<!-- More Skills -->
					
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
		<div class="col-xl-9 col-lg-8 content-left-offset">

			<h3 class="page-title">Search Results</h3>

			<div class="notify-box margin-top-15">
				

				<div class="sort-by">
					<span>Сортировать:</span>
					<select class="selectpicker hide-tick">
						<option>Актуальные</option>
                        <option>Новые</option>
                        <option>Старые</option>
                        <option>Случайные</option>
					</select>
				</div>
			</div>

			<!-- Freelancers List Container -->
			<div class="freelancers-container freelancers-list-layout margin-top-35">

                {% for performer in performers %}
                    	<!--Freelancer -->
				<div class="freelancer">

					<!-- Overview -->
					<div class="freelancer-overview">
						<div class="freelancer-overview-inner">

							<!-- Bookmark Icon -->
							<span class="bookmark-icon"></span>

							<!-- Avatar -->
							<div class="freelancer-avatar status-online">
								{% if performer.user.profile.online%}
                                    <div class="online-badge"></div>
                                {% else %}
                                    <div class="offline-badge"></div>
                                {% endif %}
								    <a href="{{ performer.get_absolute_url }}"><img src="{{ performer.user.profile.profile_picture.url }}" alt=""></a>
							</div>

							<!-- Name -->
							<div class="freelancer-name">
								<h4><a href="#">{{ performer.user.first_name }} {{ performer.user.last_name }}<img class="flag" src="{% static 'images/flags/ua.svg' %}" alt="" title="Украина" data-tippy-placement="top"></a></h4>
		
								<!-- Rating -->
								<div class="freelancer-rating">
									<div class="star-rating" data-rating="{{performer.rating}}"></div>
								</div>
							</div>
						</div>
					</div>

					<!-- Details -->
					<div class="freelancer-details">
						<div class="freelancer-details-list">
							<ul>
								<li>Горож <strong><i class="icon-material-outline-location-on"></i> Киев</strong></li>
								<li>Цена <strong>300 грн/час</strong></li>
								<li>Успешность <strong>95%</strong></li>
							</ul>
						</div>
						<a href="{{ performer.get_absolute_url }}" class="button button-sliding-icon ripple-effect">Профиль <i class="icon-material-outline-arrow-right-alt"></i></a>
					</div>
				</div>
                    <!-- Freelancer / End -->
                {% endfor %}



			</div>
			<!-- Tasks Container / End -->


			<!-- Pagination -->
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<!-- Pagination -->
					<div class="pagination-container margin-top-40 margin-bottom-60">
						<nav class="pagination">
							<ul>
								<li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
								<li><a href="#" class="current-page ripple-effect">1</a></li>
								<li><a href="#" class="ripple-effect">2</a></li>
								<li><a href="#" class="ripple-effect">3</a></li>
								<li><a href="#" class="ripple-effect">4</a></li>
								<li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- Pagination / End -->

		</div>
	</div>
</div>

{% endblock %}