#vscode
.vscode

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
profile_pics

# PyBuilder
target/

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py


migrations

!__init__.py

.env
db.sqlite3
media/*
.idea

!__init__.py
venv/
logs/
!media/init_images
!media/init_images/*
