{% extends "base_profile.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
<script src="{% static 'js/chart.min.js' %}"></script>

			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Привет {{user.get_name}}</h3>
				<span>Мы рады видеть тебя снова!</span>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="{% url 'index' %}">Главная страница</a></li>
						<li>Профиль</li>
					</ul>
				</nav>
			</div>

			<!-- Fun Facts Container -->
			<div class="fun-facts-container">
				<div class="fun-fact" data-fun-fact-color="#36bd78">
					<div class="fun-fact-text">
						<span>Откликов</span>
						<h4>22</h4>
					</div>
					<div class="fun-fact-icon"><i class="icon-material-outline-gavel"></i></div>
				</div>
				<div class="fun-fact" data-fun-fact-color="#b81b7f">
					<div class="fun-fact-text">
						<span>Выполненых заданий</span>
						<h4>4</h4>
					</div>
					<div class="fun-fact-icon"><i class="icon-material-outline-business-center"></i></div>
				</div>
				<div class="fun-fact" data-fun-fact-color="#efa80f">
					<div class="fun-fact-text">
						<span>Заявок</span>
						<h4>28</h4>
					</div>
					<div class="fun-fact-icon"><i class="icon-material-outline-rate-review"></i></div>
				</div>

				<!-- Last one has to be hidden below 1600px, sorry :( -->
				<div class="fun-fact" data-fun-fact-color="#2a41e6">
					<div class="fun-fact-text">
						<span>Просмотров в этом месяце</span>
						<h4>987</h4>
					</div>
					<div class="fun-fact-icon"><i class="icon-feather-trending-up"></i></div>
				</div>
			</div>

			<!-- Row -->
			<div class="row">

				<div class="col-xl-8">
					<!-- Dashboard Box -->
					<div class="dashboard-box main-box-in-row">
						<div class="headline">
							<h3><i class="icon-feather-bar-chart-2"></i> Просмотры вашего профиля</h3>
							<div class="sort-by">
								<select class="selectpicker hide-tick">
									<option>Последние 6 месяцев</option>
									<option>В этом году</option>
									<option>В этом месяце</option>
								</select>
							</div>
						</div>
						<div class="content">
							<!-- Chart -->
							<div class="chart">
								<canvas id="chart" width="100" height="45"></canvas>
							</div>
						</div>
					</div>
					<!-- Dashboard Box / End -->
				</div>
				<div class="col-xl-4">

					<!-- Dashboard Box -->
					<!-- If you want adjust height of two boxes
						 add to the lower box 'main-box-in-row'
						 and 'child-box-in-row' to the higher box -->
					<div class="dashboard-box child-box-in-row">
						<div class="headline">
							<h3><i class="icon-material-outline-note-add"></i> Заметки</h3>
						</div>

						<div class="content with-padding">
							
						</div>
							<div class="add-note-button">
								<a href="#small-dialog" class="popup-with-zoom-anim button full-width button-sliding-icon">Добавить заметку <i class="icon-material-outline-arrow-right-alt"></i></a>
							</div>
					</div>
					<!-- Dashboard Box / End -->
				</div>
			</div>
			<!-- Row / End -->

			<!-- Row -->
			<div class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-6">
					<div class="dashboard-box">
						<div class="headline">
							<h3><i class="icon-material-baseline-notifications-none"></i> Уведомления</h3>
							<button class="mark-as-read ripple-effect-dark" data-tippy-placement="left" title="Пометить все как прочитанное">
									<i class="icon-feather-check-square"></i>
							</button>
						</div>
						<div class="content">
							<ul class="dashboard-box-list">
								{%for message in messages%}
								<li>
									<span class="notification-icon"><i class="icon-material-outline-group"></i></span>
									<span class="notification-text">
										<strong>{{message.message_from.get_name}}</strong> Написал вам сообщение: <i>{{message.text|slice:":10"}} ...</i>
									</span>
									<!-- Buttons -->
								</li>
								{%endfor%}			
							</ul>
						</div>
					</div>
				</div>

				<!-- Dashboard Box -->
				<div class="col-xl-6">
					<div class="dashboard-box">
						<div class="headline">
							<h3><i class="icon-material-outline-assignment"></i> Задания</h3>
						</div>
						<div class="content">
							<ul class="dashboard-box-list">
								{%for order in orders%}
								<li>
									<div class="invoice-list-item">
									<strong>{{order.name}}</strong>
										<ul>
											<li><span class="paid">{{order.status.name}}</span></li>
											<li>Заказ: #{{order.id}}</li>
											<li>Дата: {{order.time_created}}</li>
										</ul>
									</div>
									<!-- Buttons -->
									<div class="buttons-to-right">
										<a href="/orders/{{order.id}}" class="button">Перейти на задание</a>
									</div>
								</li>
								{%endfor%}
							</ul>
						</div>
					</div>
				</div>

			</div>
			<!-- Row / End -->
    <script>
	$("#profile_menu").toggleClass("active");
	var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		var config = {
			type: 'line',
			data: {
				labels: ['Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август'],
				datasets: [{
					label: 'Просмотры',
					backgroundColor: "blue",
					borderColor: "blue",
					data: [
						256,345,323,445,678,867,987
					],
					fill: false,
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: ''
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Месяц'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Value'
						}
					}]
				}
			}
		};

		window.onload = function() {
			var ctx = document.getElementById('chart').getContext('2d');
			window.myLine = new Chart(ctx, config);
		};

    </script>
{% endblock %}